
.terraform.lock.hcl
infra/.terraform/
k8s_usecase/.terraform/
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.64.0/windows_amd64/terraform-provider-aws_v5.64.0_x5.exe
k8s_usecase/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/windows_amd64/terraform-provider-aws_v5.63.0_x5.exeinfra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.64.0/windows_amd64/terraform-provider-aws_v5.64.0_x5.exe
k8s_usecase/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/windows_amd64/terraform-provider-aws_v5.63.0_x5.exe
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.64.0/windows_amd64/terraform-provider-aws_v5.64.0_x5.exe
k8s_usecase/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/windows_amd64/terraform-provider-aws_v5.63.0_x5.exe
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.64.0/windows_amd64/terraform-provider-aws_v5.64.0_x5.exe
k8s_usecase/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/windows_amd64/terraform-provider-aws_v5.63.0_x5.exe
